
*.o
*.dia
*.yaml
*.plist
*.hmap
*.xcbuild
*.xcent
*.db
*.dat
*.d
*.LinkFileList
*.idx
*.idx
*.xcuserstate
*.modulevalidation
*.xcactivitylog
*.xcuserstate
OPENGL GLAD.xcodeproj/project.xcworkspace/xcuserdata/miguel.lopes.xcuserdatad/UserInterfaceState.xcuserstate
